body {
    background-color: orange;
    text-align: center;
    font-size: 16px;
    font-family: 'Josefin Sans', 'Cardo', serif;
}

div {
    background-color: yellowgreen ;
    padding: 10px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px green;
}

table {
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
}
table1 {
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
}
table2 {
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
}


